<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    {% if title %}
        <title qa-id="title-{{ title }}">{{ title }} page</title>
    {% else %}
        <title>Welcome to miktuy experemental page</title>
    {% endif %}
</head>
<body>
  <ul class="nav nav-tabs">
    <li role="presentation" class="{{ 'active' if active_page == 'home' else ''}}"><a href="/index">Home</a></li>
    <li role="presentation" class="{{ 'active' if active_page == 'about' else ''}}"><a href="/about">About</a></li>
  </ul>
  {% block content %}
  {% endblock %}
</body>
</html>